/* app css stylesheet */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin transition($properties...) {

  @if length($properties) >= 1 {
    @include css3-prefix('transition', $properties);
  } @else {
    @include css3-prefix('transition', $what: all, $length: 1s, $easing: ease-in-out);
  }
}

.padding-0 {
  padding: 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }

  & > li {
    display: inline;
  }

  & > li + li:before {
    content: "|";
    padding-right: 0.3em;
  }
}

.dashboard {
  color: #333;
  .list-unstyled {
    font-size: 14px;
    line-height: 2.3;
    .fa {
      font-size: 18px;
      width: 22px;
    }
  }
}

.footer {
  background-color: #C24859;
  height: 50px;
}

menu {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 5;
  width: 250px;
  background-color: #fff;
  left: 0;
  margin-left: -200%;
  @include transition (all .5s ease-out);

  &.active {
    margin-left: 0;
  }
  .user-info {
    background-color: #C24859;
    padding: 25px 15px 10px;
  }

  .user-photo {
    border-radius: 50%;
    width: 50px;
  }
  .user-name {
    color: #fff;
    margin: 15px 0 0;
  }

  ul {
    padding: 20px;
    li {
      display: block;
      padding: 10px 0;
      a {
        color: #333;
      }
    }
  }
}

.overlay {
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 4;
  display: none;

  &.active {
    display: block;
  }
}

header {
  background-color: #C24859;
  padding: 7.5px 15px;
  .fa-bars {
    color: #fff;
    font-size: 20px;
  }
}