<header>
 <i class="fa fa-bars" ng-click="openSidebar()"></i>

 <img src="../../../resources/images/chasqui_isologo.png" class="pull-right" height="20" alt="">
</header>

<section class="sidebar">
 <section class="user-info">
  <img class="user-photo" height="50" src="../../../resources/images/foto-perfil.jpg" alt="">

  <p class="user-name">Teresa Ocampo Moralejo</p>
 </section>
 <ul>
  <li>
   <i class="fa fa-home"></i>
   <a ng-click="closeSidebar()" href="#!/dashboard">Inicio</a>
  </li>
  <li>
   <i class="fa fa-user-circle"></i>
   <a ng-click="closeSidebar()" href="#!/profile">Perfil</a>
  </li>
  <li>
   <i class="fa fa-location-arrow"></i>
   <a ng-click="closeSidebar()" href="#!/status">Estado</a>
  </li>
  <li>
   <i class="fa fa-edit"></i>
   <a ng-click="closeSidebar()" href="#!/requests">Solicitudes</a>
  </li>
  <li>
   <i class="fa fa-comments"></i>
   <a  ng-click="closeSidebar()" href="#!/comments">Mensajes</a>
  </li>
 </ul>
</section>

<div class="overlay" ng-click="closeSidebar()"></div>