

<section class="sidebar">
 <ul class="menu">
  <li>
   <i class="fa fa-home"></i>
   <a href="#!/dashboard">Inicio</a>
  </li>
  <li>
   <i class="fa fa-user-circle"></i>
   <a href="#!/profile">Perfil</a>
  </li>
  <li>
   <i class="fa fa-location-arrow"></i>
   <a href="#!/status">Estado</a>
  </li>
  <li>
   <i class="fa fa-edit"></i>
   <a href="#!/requests">Solicitudes</a>
  </li>
  <li>
   <i class="fa fa-comments"></i>
   <a href="#!/comments">Mensajes</a>
  </li>
 </ul>
</section>

<div class="overlay"></div>