<div class="container">
  <section style="height: 250px;">
    <!-- mapa -->
    <button ng-click="showModal()">
      Marcar tu posicion
    </button>
    <div
      ng-show="modalShown"
      class="modal modal-fade d-block"
      tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Ubicacion?</h5>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button
              ng-click="hideModal()"
              type="button"
              class="btn btn-secondary">
              Cancelar
            </button>
            <button
              ng-click="createLocation()"
              type="button" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <ul class="list-unstyled">
      <li class="w-50 float-left">
        <span class="fa fa-users"></span> Punto Refugio
      </li>
      <li class="w-50 float-left">
        <span class="fa fa-heartbeat"></span> Urgencia Médica
      </li>
      <li class="w-50 float-left">
        <span class="fa fa-map-pin"></span> Voluntarios
      </li>
      <li class="w-50 float-left">
        <span class="fa fa-exclamation-triangle"></span> Vía Cerrada
      </li>
      <li class="w-50 float-left">
        <span class="fa fa-medkit"></span> Punto de Salud
      </li>
      <li class="w-50 float-left">
        <span class="fa fa-exclamation"></span> Señal de Auxilio
      </li>
      <li class="w-50 float-left">
        <span class="fa fa-wrench"></span> Necesidad
      </li>
      <li class="w-50 float-left">
        <span class="fa fa-bus"></span> Punto de Recojo
      </li>
    </ul>
  </section>
</div>
